{% set site = {
	'title': 'Startup Catchups'
} %}

{% set regions = [{

  'name': 'au'
  , 'title': 'Australia'

}, {

  'name': 'ca'
  , 'title': 'Canada'

}] %}

{% set nodes = [{

  'name': 'melbourne'
  , 'title': 'Melbourne'
  , 'region': 'au'
  , 'location': 'Blue Sparrow Coffee'

}, {

  'name': 'sydney'
  , 'title': 'Sydney'
  , 'region': 'au'
  , 'location': '108 Paradaise Cafe'

}, {

  'name': 'vancouver'
  , 'region': 'ca'
  , 'title': 'Vancouver'
  , 'location': 'Cafe Mira on Main St'

}, {

  'name': 'toronto'
  , 'region': 'ca'
  , 'title': 'Toronto'
  , 'location': 'Bevy Cafe'

}] %}
