{% import 'config.jinja' as config %}

{% include '_header.html' %}

<div class="section section-date">
  <div class="block-date">
    Sunday, June 30, 2024
  </div>
  <div class="block-time">
    12 NOON
  </div>
</div>

<ul class="section section-locations">

  {% for region in config.regions %}
    <li class="block-region">
      {{ region.title }}
      <ul>
	{% set subset = config.nodes | selectattr('region', 'eq', region.name) %}
	{% for node in subset %}
	  <li class="block-node">{{ node.title }}</li>
	{% endfor %}

      </ul>
    </li>
  {% endfor %}

</div>

{% include '_footer.html' %}
